/**************************************/
/**************** Root ****************/
/**************************************/
:root {
    --sidebar: #101E26;
    --documentation: #061F2F;
    --navbar: #27343B;
    --search: #394043;
}

html, body {
    color: var(--white);
    background-color: var(--documentation);
}

.medium-zoom-overlay {
    background-color: var(--documentation) !important;
}

/**************************************/
/**************** Cards ***************/
/**************************************/
.card.is-default {
    background-color: #2F365F;
    color: var(--white);
    border: none;
}

/**************************************/
/********** Documentation *************/
/**************************************/
.documentation {
    color: #d3d4d4;
}

.documentation h1 {
    color: var(--white);
}

.documentation h2 a {
    color: #9CD7F7;
}

a:hover {
    opacity: .8;
}

.documentation a {
    color: #077CBC;
}

.documentation p {
    margin-bottom: 15px;
}

/**************************************/
/************** Tables ****************/
/**************************************/
table {
    background-color: #11152D;
    color: var(--white);
}

table tr, table td, table th {
    border-width: 1px;
    border-color: #272e56;
}

table tr:hover, table td:hover, table th:hover {
    background-color: #1D2244;
}

/**************************************/
/*************** Search ***************/
/**************************************/
.search-box {
    border: none;
}

.search-box input input:focus {
    background: var(--search);
    color: var(--white);
}

.search-box input:focus {
    background: var(--search);
    color: var(--white);
}

.internal-autocomplete-result {
    background: var(--search);
}

.internal-autocomplete-result ul li .page-title {
    color: var(--white);
}

/**************************************/
/*************** Sidebar **************/
/**************************************/
.sidebar {
    border: none;
    background-color: var(--sidebar);
}
